<header class="justify-content-center py-3 mb-4 border-bottom">


  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary bg-gradient">
    <div class="container-md">
      <a class="navbar-brand fw-lighter" routerLink="">Equinox Cels</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-end" id="headerNav">
        <ul class="navbar-nav ">
          <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="evangelion" class="nav-link disabled">Evangelion Art</a></li>
          <li class="nav-item"><a routerLink="other" class="nav-link disabled">Non-Eva Art</a></li>
          <li class="nav-item"><a routerLink="wishlist" class="nav-link disabled">Wishlist</a></li>
          <li class="nav-item"><a routerLink="contact" class="nav-link disabled">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="divider"></div>
