<div class="row shadow">
  <div class="card m-2 p-2 text-white bg-secondary">
    <div class="row g-0">
      <div class="col-md-8 video-container embed-responsive embed-responsive-4-by-3">
        <video class="embed-responsive-item" preload="metadata" controls [src]="'assets/Eva/' + fileUrls[0] + '#t=0.15'"></video>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <div class="fs-1 mb-0 fw-light">{{cardTitle}}</div>
          <div class="card-subtitle mb-2 fw-lighter fst-italic fs-5">{{cardSubtitle}}</div>
          <hr>
          <div class="fs-5">
            <ng-template [ngIf]="celInfo !== undefined && celInfo.length > 0">
              <ul><li *ngFor="let line of celInfo">{{ line }}</li></ul>
            </ng-template>
            <div class="fw-light">{{cardBody}}</div>
          </div>
          <div class=" text-center">
            <hr>
            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" [attr.data-bs-target]="'#' + modalId">
              View Cels
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
