<div class="footer p-flex-column p-text-center p-text-normal">
  <p-divider></p-divider>

  <div class="p-grid">
    <div class="p-col-6 p-col-align-center p-text-left p-pl-4 p-pb-3">
      © 2021 equinox-cels.com; All rights reserved.
    </div>
    <div class="p-col-6 p-text-right p-pr-4 p-pb-3">
<!--      <a class="p-mx-2" routerLink="contact">-->
<!--        <i class="pi pi-envelope"></i>-->
<!--      </a>-->
      <a class="p-mx-2" href="https://github.com/autumnesponda">
        <i class="pi pi-github"></i>
      </a>
    </div>
  </div>
</div>
