<app-eva-card
  [fileUrls]="ripAsukaUrls"
  cardTitle = "End of Evangelion"
  cardSubtitle = "&quot;Don't abandon me...!&quot;"
  [celInfo] = "[
  'Cut-282',
  'Cels A1 - A16 and B1',
  ]"
  cardBody="
  In the throes of the Human Instrumentality Project, Shinji and Asuka are seen at Misato's home.
  Shinji is pleading for Asuka to save him - to not abandon him.
  She rejects this; she shouts that Shinji doesn't want Asuka's help, but literally anyone he can run to.
  Shinji's desperation peaks as he overturns furniture in a tantrum, begging Asuka to save him and not kill him.
  Asuka coldly looks down at the disheveled boy:
  <div class=&quot;text-center mt-2 mb-2 fw-lighter&quot;><i>&quot;No.&quot;</i></div>
  "
  modalId="eva00Modal"
></app-eva-card>
<app-gallery-modal [imgUrls]="ripAsukaUrls.slice(1)" modalId="eva00Modal"></app-gallery-modal>

<app-eva-card
  [fileUrls]="catNoiseNpeUrls"
  cardTitle = "End of Evangelion"
  cardSubtitle = '"負けてらんないのよ！"'
  [celInfo] = "[
  'Cut-516',
  'Cels B1 & B2 w/ Douga Sketch',
  ]"
  cardBody="&quot;I can't lose!&quot; Asuka pilots the recently awakened Evangelion Unit 02.
    She easily destroys JSSDF tanks, VTOLs, and the frigate in the lake, but has its umbilical cable severed during the
    fight and is forced to switch to battery power.
    In the subsequent battle against the Mass Production Evangelions, Unit-02 severely damages all nine of them in a
    little over three minutes, only to be struck down by a replica Spear of Longinus just as its battery runs out of power."
    modalId="eva01Modal
  "
></app-eva-card>
<app-gallery-modal [imgUrls]="catNoiseNpeUrls.slice(1)" modalId="eva01Modal"></app-gallery-modal>
