<app-eva-card
  [fileUrls]="ripAsukaUrls"
  cardTitle = "End of Evangelion"
  cardSubtitle = "Shinji Choking Asuka"
  [celInfo] = "[
  'Cut-282',
  'Cels A1 - A16 and B1',
  ]"
  cardBody="blah blah blah some text about this show we f scene
  baybee  to write stuff here"
  modalId="eva00Modal"
></app-eva-card>
<app-gallery-modal [imgUrls]="ripAsukaUrls.slice(1)" modalId="eva00Modal"></app-gallery-modal>

<app-eva-card
  [fileUrls]="catNoiseNpeUrls"
  cardTitle = "End of Evangelion"
  cardSubtitle = '"これでラスト。。。！"'
  [celInfo] = "[
  'Cut-516',
  'Cels B1 & B2 w/ Douga Sketch',
  ]"
  cardBody="blah blah blah some text about this show we f scene
  baybee  to write stuff here"
  modalId="eva01Modal"
></app-eva-card>
<app-gallery-modal [imgUrls]="catNoiseNpeUrls.slice(1)" modalId="eva01Modal"></app-gallery-modal>
