<div class="row shadow">
  <div class="alert alert-info m-2 p-2">
      <div class="lead d-inline">Evangelion Production Art</div>
      <div class="d-inline fs-6 fw-lighter"> - my humble collection of one-of-a-kind gems of animation history from Hideaki Anno's <i>"Neon Genesis Evangelion"</i> and the 1997 film <i>"The End of Evangelion"</i>.</div>
  </div>
</div>

<app-eva-card
  [fileUrls]="ripAsukaUrls"
  cardTitle = "End of Evangelion"
  cardSubtitle = "&quot;Don't abandon me...!&quot;"
  [celInfo] = "[
  'Cut-282',
  'Cels A1 - A16 and B1',
  ]"
  cardBody="
  In the throes of the Human Instrumentality Project, Shinji Ikari and Asuka Langley are seen at their guardian Misato's home.
  Shinji is pleading for Asuka to save him - to not abandon him.
  She rejects this, shouting that Shinji doesn't want Asuka's help, but literally the help of anyone who will listen.
  Shinji's desperation peaks as he overturns furniture in a tantrum, begging Asuka to save him and not kill him.
  As seen here, Asuka coldly looks down at the disheveled boy, uttering only a single word:
  <div class=&quot;text-center mt-2 mb-2 fw-lighter&quot;><i>&quot;No.&quot;</i></div>
  "
  modalId="eva00Modal"
></app-eva-card>
<app-gallery-modal [imgUrls]="ripAsukaUrls.slice(1)" modalId="eva00Modal"></app-gallery-modal>

<app-eva-card
  [fileUrls]="heliManUrls"
  cardTitle = "End of Evangelion"
  cardSubtitle = '"負けてらんないのよ！"'
  [celInfo] = "[
  'Cut-386',
  'Cels C17 and D6',
  ]"
  cardBody="<i>&quot;There's no way I could lose... to you guys!&quot;</i><br>
  The JSSDF lead a lead-no-survivors assault on NERV HQ on behest of Seele UN orders.
  Asuka gets a jolt of confidence as she takes on the incoming attacker's air force."
  modalId="eva04Modal"
></app-eva-card>
<app-gallery-modal [imgUrls]="heliManUrls.slice(1)" modalId="eva04Modal"></app-gallery-modal>

<app-eva-card
  [fileUrls]="catNoiseNpeUrls"
  cardTitle = "End of Evangelion"
  cardSubtitle = '"ママが見てるのに！"'
  [celInfo] = "[
  'Cut-516',
  'Cels B1 & B2 w/ Douga Sketches',
  ]"
  cardBody="<i>&quot;Mama is watching me!&quot;</i><br>
  Asuka pilots the recently awakened Evangelion Unit-02.
  She easily destroys JSSDF tanks, VTOLs, and the frigate in the lake, but has its umbilical cable severed during the
  fight and is forced to switch to battery power.
  In the subsequent battle against the Mass Production Evangelions, Asuka severely damages all nine of them in a
  little over three minutes; seen here are the last two Mass Production Eva Units she battles."
  modalId="eva01Modal"
></app-eva-card>
<app-gallery-modal [imgUrls]="catNoiseNpeUrls.slice(1)" modalId="eva01Modal"></app-gallery-modal>

<app-basic-eva-card
  primaryImageUrl = "ASUKAouchCEL.png"
  secondaryImageUrl = "asukaOUCHmaster.png"
  cardTitle = "End of Evangelion"
  cardSubtitle = '"殺してやる。。。ｺﾛｼﾃﾔﾙ..."'
  [celInfo] = "[
  'Unknown Cut',
  'Cel A-10'
  ]"
  cardBody="<i>&quot;I'll kill you...&quot;</i><br>
  The automated Evangelions, though mangled by Asuka's attacks, all come back to life.
  Like a volt of vultures, they descend upon the lifeless Unit-02, tearing it apart and exposing its innards.
  While the Mass Production Evangelions fly away, a wounded Asuka (seen here) coaxes Unit-02 into reactivating in berserk mode.
  As the automated Evangelions orbit above, Asuka and her Evangelion furiously reach towards them,
  only to have each of their arms sliced in two by a replica Lance of Longinus.
  ">
</app-basic-eva-card>

<app-eva-card
  [fileUrls]="ritzyMistoUrls"
  cardTitle = "Neon Genesis Evangelion Ep. 13"
  cardSubtitle = "&quot;An Angel's Invasion&quot;"
  [celInfo] = "[
  'Unknown Cut',
  'Cels B5 and D8 w/ Douga Sketches',
  'Copy of Original Background'
  ]"
  cardBody="
  Ritsuko explains the nature of the 11th angel, Ireul.
  She opens an entrance into the physical structure of the surviving Magi Casper, and begins work with notes left by her mother.
  Ireul finally breaks through the firewall and completes infecting Balthasar, and with one second to go before Casper is
  defeated, Ritsuko's counter-hacking program is installed.
  The Magi are promptly restored to their normal status, and Ireul dies out.
  Seen here, Ritsuko talks to Misato about the Magi and her Mother's personality.
  "
  modalId="eva03Modal"
></app-eva-card>
<app-gallery-modal [imgUrls]="ritzyMistoUrls.slice(1)" modalId="eva03Modal"></app-gallery-modal>


<app-basic-eva-card
  primaryImageUrl = "NGE_misato_raw_00.jpg"
  cardTitle = "Neon Genesis Evangelion Genga"
  cardSubtitle ="assorted episodes and scenes"
  cardBody = "Here are various genga of Katsuragi Misato, a few of which are from one of her many (in)famous beer drinking scenes.
  <br>
  <br>
  <i><small>
  In animation, genga (or 原画, literally 'original picture') are the key animation drawings.
  These are usually drawn by the lead animators and provide an idea of how the subject is to look, as opposed to douga (動画, literally 'motion picture'), which are the template from which a cel is painted.
  Genga are much more unique (in my opinion) by virtue of them being how the lead animators envision the scene in their mind's eye.
  </small></i>
  <br>
  <br>
  "
  modalId = "eva05Modal"
  >
</app-basic-eva-card>
<app-gallery-modal [imgUrls]="mistoSketchUrls.slice()" modalId="eva05Modal"></app-gallery-modal>
