<div class="alert alert-info fade show" role="alert">
  <div class="lead d-inline">Non-Evangelion Production Art</div>
  <div class="d-inline fs-6 fw-lighter"> - Eastern animation, Western animation, anything goes!</div>
</div>

<div class="row justify-content-evenly align-items-stretch">
  <div class="col-sm-4">
    <app-basic-card class=""
      [source]="'assets/Other/GHOST_STORIES_S23_00.jpeg'"
      [text]="'Ghost Stories 01'">
    </app-basic-card>
  </div>
  <div class="col-sm-4">
    <app-basic-card
      [source]="'assets/Other/GHOST_STORIES_01_00.png'"
      [text]="'Ghost Stories 02'">
    </app-basic-card>
  </div>

  <div class="col-sm-4">
    <app-basic-card
      [source]="'assets/Other/Lassie_01.png'"
      [text]="'Lassie'">
    </app-basic-card>
  </div>
</div>

<div class="row justify-content-evenly mt-4">
  <div class="col-sm-4">
    <app-basic-card
      [source]="'assets/Other/mobile_suit_victory_gundam_01.png'"
      [text]="'V Gundam'">
    </app-basic-card>
  </div>
  <div class="col-sm-4">
    <app-basic-card
      [source]="'assets/Other/newCenturyGundamX_ A21E.png'"
      [text]="'New Century Gundam X'">
    </app-basic-card>
  </div>
</div>
