<div class="alert alert-info fade show" role="alert">
  <div class="lead d-inline">Non-Evangelion Production Art</div>
  <div class="d-inline fs-6 fw-lighter"> - Eastern animation, Western animation, anything goes!</div>
</div>

<gallery [items]="images"
></gallery>

<!--<div class="row justify-content-evenly align-items-stretch">-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card class=""-->
<!--      [source]="'GHOST_STORIES_S23_00.jpeg'"-->
<!--      [text]="'Ghost Stories 01'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'GHOST_STORIES_01_00.png'"-->
<!--      [text]="'Ghost Stories 02'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'Lassie_01.png'"-->
<!--      [text]="'Lassie'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row justify-content-evenly mt-4">-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'mobile_suit_victory_gundam_01.png'"-->
<!--      [text]="'V Gundam'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'newCenturyGundamX_ A21E.png'"-->
<!--      [text]="'New Century Gundam X'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'poopycat.jpg'"-->
<!--      [text]="'Sailor Moon'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row justify-content-evenly mt-4">-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'RMS-099 Rick Dias.jpg'"-->
<!--      [text]="'V Gundam'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'g-gundam-3.jpg'"-->
<!--      [text]="'G Gundam'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'fma00_01.jpg'"-->
<!--      [text]="'Full Metal Alchemist'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row justify-content-evenly mt-4">-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'fma01_00.jpg'"-->
<!--      [text]="'Full Metal Alchemist'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'Courage_storyboard_70.png'"-->
<!--      [text]="'Courage the Cowardly Dog'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--  <div class="col-sm-4">-->
<!--    <app-basic-card-->
<!--      [source]="'KLK_ep10_front.jpg'"-->
<!--      [text]="'Kill La Kill'">-->
<!--    </app-basic-card>-->
<!--  </div>-->
<!--</div>-->
